
* {
    border: none;
    border-radius: 0px;
    font-family: "GeistMono Nerd Font";
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: rgba(128, 135, 162, 0.4);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces {
    all: initial;
    /* Remove GTK theme values (waybar #1351) */
    min-width: 0;
    /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    background: #1e1e2e;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

#workspaces button {
    color: #cdd6f4;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.active {
    color: #179299;
    background: #181825;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #11111b;
    color: #cdd6f4;
    border-radius: 5px;
}

#custom-linux,
#power-profiles-daemon,
#cpu,
#memory,
#custom-weather,
#window,
#clock,
#pulseaudio,
#upower,
#network,
#bluetooth,
#temperature,
#privacy,
#workspaces,
#tray,
#custom-media,
#custom-notification,
#idle_inhibitor,
#backlight {
    background: #1e1e2e;
    opacity: 1.0;
    padding: 0px 8px;
    margin: 0;
    margin-top: 1px;
}

#cpu,#memory{
    color: #f9e2af;
}

#power-profiles-daemon {
    border-radius: 0px 20px 20px 0px;
    padding-right: 15px;
    margin-right:4px;
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#tray {
    border-radius: 20px;
    margin-right: 5px;
    padding: 0px 4px;
}


#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b7bdf8;
}

#clock {
    color: #fab387;
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    padding-left: 15px;
    margin-left: 4px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 12px;
}

#bluetooth {
    color: #f9e2af;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    margin-left: 2px;
} 
#network.ethernet {
    border-radius: 0px 0px 0px 0px;
}

#network.tailscale {
    border-radius: 0px 20px 20px 0px;
    padding-right: 20px;
    margin-right: 2px;
}

#pulseaudio {
    border-radius: 0px 20px 20px 0px;
}

#upower {
    color: #a6e3a1;
    border-radius: 20px 0px 0px 20px;
    margin-left: 4px;
}

#upower.charging {
    color: #a6e3a1;
}

#upower.discharging {
    color: #cad3f5;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    padding-right: 8px;
}

#idle_inhibitor {
    color: #f9e2af;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#custom-notification {
    color: #f9e2af;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px;
    border-right: 0px;
}

#custom-media {
    color: #f9e2af;
    border-radius: 20px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 4px;
}

#privacy {
    color: #f9e2af;
    border-radius: 20px;
    border-left: 0px;
    border-right: 0px;
}

#custom-linux{
    color: #8aadf4;
}
